/* logo */
@font-face {
    font-family: "Gloria";
    src: url(/assets/font/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}

@font-face {
    font-family: "Gotu";
    src: url(/assets/font/Gotu/Gotu-Regular.ttf);
    font-weight: 400;
}

/* heading */
@font-face {
    font-family: "Assistant";
    src: url(/assets/font/Assistant/Assistant-VariableFont_wght.ttf);
    font-weight: 400;
}

/* body */
@font-face {
    font-family: "Inter";
    src: url(/assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 400;
}

/* logo */
.h1logo {
    font-family: 'Gotu', Courier New, Courier, monospace;
    font-size: 36px;
    margin: 20px;
    margin-right: 10px;
}

h1 {
    font-family: 'Gotu', Courier New, Courier, monospace;
    font-size: 60px;
    font-weight: 300;
}

.h1message {
    font-family: 'Gotu', Courier New, Courier, monospace;
    font-size: 24px;
    font-weight: 300;
}

/* heading */
h2 {
    font-family: 'Assistant', Courier New, Courier, monospace;
    font-size: 32px;
    font-weight: 400;
}


h3 {
    font-family: 'Assistant', Courier New, Courier, monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 250%;
}

h4 {
    font-family: 'Assistant', Courier New, Courier, monospace;
    font-size: 18px;
    font-weight: 400;   
}

/* body */
p {
    font-family: 'Inter', Courier New, Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
}

.p2, .p-temperature, .p-water-temperature {
    font-family: 'Inter', Courier New, Courier, monospace;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.address {
    font-family: 'Inter', Courier New, Courier, monospace;
    font-size: 16px;
    font-weight: 300;
    margin: 10px;
}

.p4 {
    font-family: 'Inter', Courier New, Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    padding: 20px;
}

